# http://EditorConfig.org
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 2

[**.rb]
max_line_length = 80

[**.js, **.coffee]
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

# This global editor config leaves you with two options:

# Make a .editorconfig in your home directory (~/.editorconfig) and so long as none of your .editorconfig files below that directory have a root = true option, that one in your home directory will be used as the fallback.

# A better option (in my opinion) is to make a local .editorconfig file in each project that is a hard link to one stored elsewhere (either something arbitrary like ~/.default-editorconfig or ~/.editorconfig for a default fallback also). Hard links can be made on Mac and Linux with the ln command.

